

#main-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    height: 100vw;
}
#box-container{
    display: grid;
    grid-template-columns: repeat(50 ,1fr);
    grid-template-rows: repeat(50, 1fr);
    height: 50%;
    width: 50%;
}